@model VETHarbor.Models.Programs

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Programs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProgramId" />
            <div class="form-group">
                <label asp-for="OrgId" class="control-label"></label>
                <select asp-for="OrgId" class="form-control" asp-items="ViewBag.OrgId"></select>
                <span asp-validation-for="OrgId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgName" class="control-label"></label>
                <input asp-for="OrgName" class="form-control" />
                <span asp-validation-for="OrgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramType" class="control-label"></label>
                <input asp-for="ProgramType" class="form-control" />
                <span asp-validation-for="ProgramType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramTitle" class="control-label"></label>
                <input asp-for="ProgramTitle" class="form-control" />
                <span asp-validation-for="ProgramTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramCity" class="control-label"></label>
                <input asp-for="ProgramCity" class="form-control" />
                <span asp-validation-for="ProgramCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramState" class="control-label"></label>
                <input asp-for="ProgramState" class="form-control" />
                <span asp-validation-for="ProgramState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramDescription" class="control-label"></label>
                <input asp-for="ProgramDescription" class="form-control" />
                <span asp-validation-for="ProgramDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramPhotoUrl" class="control-label"></label>
                <input asp-for="ProgramPhotoUrl" class="form-control" />
                <span asp-validation-for="ProgramPhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

