@{
    ViewData["Title"] = "Index";
}


<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url(/img/bg2.jpg); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
<h2>Index</h2>

<p>Hello from our Admin View Template!</p>
       
    </div>
</div>