@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model VETHarbor.Models.ApplicationUser

@{
    ViewData["Title"] = "Admin View";
}

<section class="profile-page">
    <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url(/img/bg2.jpg); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <h2 class="text-center">Admin View</h2>

        </div>
    </div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">

                        <div class="profile">
                            <div class="avatar">
                                <img src="~/img/faces/christian.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid" />
                            </div>
                            <div class="name">

                                @*Begin Test profile Info*@


                                    @*End Test Profile Data*@

                            </div>
                        </div>

                    </div>
                </div>
                <div class="description text-center"></div>

                @*Begin dashboard tabs*@
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" href="#info" role="tab" data-toggle="tab" aria-selected="true">
                                        <i class="material-icons">info_outline</i>
                                        Info
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link show" href="#events" role="tab" data-toggle="tab" aria-selected="true">
                                        <i class="material-icons">event_note</i>
                                        Events
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link show" href="#programs" role="tab" data-toggle="tab" aria-selected="true">
                                        <i class="material-icons">local_parking</i>
                                        Programs
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link show" href="#vetData" role="tab" data-toggle="tab" aria-selected="true">
                                        <i class="material-icons">insert_chart</i>
                                        Veteran Data
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                @*Begin dashboard content*@
                <div class="tab-content tab-space">
                    <div class="tab-pane active text-center gallery" id="info">

                        @*Begin Profile Info*@

                        @await Component.InvokeAsync("Profile")

                        @*End Profile Info*@

                    </div>
                    <div class="tab-pane text-center gallery" id="events"></div>
                    <div class="tab-pane text-center gallery" id="programs"></div>
                    <div class="tab-pane text-center gallery" id="vetData"></div>
                </div>
            </div>
        </div>
    </div>
</section>

