@{
    ViewData["Title"] = "Admin View";
}


<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url(/img/bg2.jpg); transform: translate3d(0px, 0px, 0px);">
    <div class="container">
       
       
    </div>
</div>

<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">

                        </div>
                        <div class="name">

                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center"></div>
            <div class="row"></div>
            <div class="tab-content tab-space"></div>
        </div>
    </div>
</div>