@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}


    <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url(/img/bg2.jpg); transform: translate3d(0px, 0px, 0px);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand">
                        <h1>VETHarbor</h1>
                        <h3>Find your recreational art therapy bliss.</h3>
                    </div>

                    @*Begin Search Box Here*@
                    <div class="">
                        <form class="" asp-controller="Search" asp-action="Index" >
                            <input type="text" name="" class="rounded">
                            <button type="submit" class="btn btn-primary btn-fab btn-round" value="Filter"><i class="material-icons">search</i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="row">
                <h1>Searched events will populate here!</h1>
            </div>
        </div>
    </div>

